In [30]:
%%sql 
SELECT 
	SUM(total_bytes) as total_bytes,
	(SELECT total_bytes FROM `system`.tables WHERE database = '{{database}}' AND name='timeline_short') as timeline_bytes,
	floor((SELECT total_bytes FROM `system`.tables WHERE database = '{{database}}' AND name='timeline_short')/total_bytes,2) as timeline_to_data_ratio
FROM `system`.tables 
WHERE 
	database = '{{database}}' AND
	name != 'timeline_short' AND
	total_rows>0

Running query in 'clickhouse'

+-------------+----------------+------------------------+
| total_bytes | timeline_bytes | timeline_to_data_ratio |
+-------------+----------------+------------------------+
|  323254138  |    55092754    |          0.17          |
+-------------+----------------+------------------------+